In [1]:
!test -f syn_new.bufr || wget https://github.com/ecmwf/pdbufr/raw/master/tests/sample-data/syn_new.bufr

## Synop: overview

In [2]:
import pdbufr

The input BUFR data contains three SYNOP observations.

In this notebook we will read this data with the :ref:`synop reader <synop-reader>`.

This reader uses the concept of :ref:`pre-defined parameters <synop-params>` instead of the ecCodes BUFR keys. E.g. "t2m" represents the 2 meter temperature parameter. This quantity can be encoded in BUFR in multiple ways. By using the parameter, we do not need to deal with the actual BUFR representation, but pdbudr will automatically extract the value for us.

#### The default settings

By default all the :ref:`pre-defined parameters <synop-params>` are extracted.

In [3]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop")

In [4]:
df.T

,0,1,2
sid,91948,11766,56257
lat,-23.13017,49.77722,30.0
lon,-134.96533,17.54194,100.27
elevation,91.0,748.1,3950.0
time,2020-03-15 00:00:00,2020-03-15 00:00:00,2020-03-15 00:00:00
t2m,300.45,269.25,276.35
rh2m,73,65,37
td2m,295.15,263.55,263.05
wind10m_speed,1.6,4.0,2.5
wind10m_dir,100,60,229
wgust_speed_10min,5.3,NaN,NaN
wgust_dir_10min,110.0,NaN,NaN
wgust_speed_60min,5.3,NaN,NaN
wgust_dir_60min,110.0,NaN,NaN
wgust_speed_360min,7.6,NaN,NaN
wgust_dir_360min,130.0,NaN,NaN
present_weather,2,508,0
precipitation_1h,0.0,0.0,NaN
precipitation_3h,0.0,NaN,NaN
precipitation_6h,0.0,0.0,0.0
precipitation_12h,0.0,NaN,0.0
precipitation_24h,0.0,NaN,0.0
min_t2m_60min,NaN,NaN,NaN
min_t2m_0h,296.45,NaN,272.65
max_t2m_60min,300.75,NaN,NaN
max_t2m_nan,NaN,NaN,NaN
mslp,101320.0,NaN,100440.0
cloud_cover,25.0,NaN,0.0
snow_depth,NaN,NaN,0.0
max_t2m_0h,NaN,NaN,288.35
visibility,NaN,30000.0,30000.0
wgust_speed_nan,NaN,NaN,NaN
wgust_dir_nan,NaN,NaN,NaN
wgust_speed_720min,NaN,NaN,8.9
wgust_dir_720min,NaN,NaN,193.0

In [6]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", columns="station")

In [7]:
df.T

                             0                    1                    2
sid                      91948                11766                56257
lat                  -23.13017             49.77722                 30.0
lon                 -134.96533             17.54194               100.27
elevation                 91.0                748.1               3950.0
time       2020-03-15 00:00:00  2020-03-15 00:00:00  2020-03-15 00:00:00

In [9]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", columns="location")

In [10]:
df.T

             0         1       2
lat  -23.13017  49.77722   30.00
lon -134.96533  17.54194  100.27

In [11]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", columns="geometry")

In [12]:
df.T

                   0          1        2
lat        -23.13017   49.77722    30.00
lon       -134.96533   17.54194   100.27
elevation   91.00000  748.10000  3950.00

In [13]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", columns="t2m")

In [14]:
df.T

                             0                    1                    2
sid                      91948                11766                56257
lat                  -23.13017             49.77722                 30.0
lon                 -134.96533             17.54194               100.27
elevation                 91.0                748.1               3950.0
time       2020-03-15 00:00:00  2020-03-15 00:00:00  2020-03-15 00:00:00
t2m                     300.45               269.25               276.35

In [15]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", columns=["t2m", "td2m"])

In [16]:
df.T

                             0                    1                    2
sid                      91948                11766                56257
lat                  -23.13017             49.77722                 30.0
lon                 -134.96533             17.54194               100.27
elevation                 91.0                748.1               3950.0
time       2020-03-15 00:00:00  2020-03-15 00:00:00  2020-03-15 00:00:00
t2m                     300.45               269.25               276.35
td2m                    295.15               263.55               263.05

In [19]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", 
                      columns=["t2m", "td2m"], 
                      add_level_columns=True)

In [20]:
df.T

                              0                    1                    2
sid                       91948                11766                56257
lat                   -23.13017             49.77722                 30.0
lon                  -134.96533             17.54194               100.27
elevation                  91.0                748.1               3950.0
time        2020-03-15 00:00:00  2020-03-15 00:00:00  2020-03-15 00:00:00
t2m                      300.45               269.25               276.35
t2m_level                   1.5                  2.0                  1.5
td2m                     295.15               263.55               263.05
td2m_level                  1.5                  2.0                  1.5

In [21]:
df = pdbufr.read_bufr("syn_new.bufr", reader="synop", 
                      columns=["t2m", "td2m"], 
                      add_units_columns=True)

In [22]:
df.T

                                   0                    1                    2
sid                            91948                11766                56257
lat                        -23.13017             49.77722                 30.0
lat_units                        deg                  deg                  deg
lon                       -134.96533             17.54194               100.27
lon_units                        deg                  deg                  deg
elevation                       91.0                748.1               3950.0
elevation_units                    m                    m                    m
time             2020-03-15 00:00:00  2020-03-15 00:00:00  2020-03-15 00:00:00
t2m                           300.45               269.25               276.35
t2m_units                          K                    K                    K
td2m                          295.15               263.55               263.05
td2m_units                         K                    K                    K